.parceiros{
    padding: 120px 0px;
}
.parceiros-title{
    max-width: 1200px;
    margin: 0 auto;
    font-size: 60px;
    margin-bottom: 30px;

}
.parceiros-list{
    padding: 0 20px;
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;

}

.parceiros-list li{
    display: flex;
    padding: 32px;
    border-left: 2px solid #696969;
    transition: transform 0.3s;
}

.parceiros-list li:first-child,
.parceiros-list li:nth-child(5) {
  border-left: none;
}

.parceiros-list li:nth-child(n + 5) {
  border-top: 2px solid #696969;
}

.parceiros-list li a{
    color: #696969;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    transition: transform 0.3s;
}
.parceiros-list li a:hover{
    transform: scale(1.2);
}

@media (max-width: 960px) {
    .parceiros {
      padding-bottom: 60px;
    }
    .parceiros-title{
      margin-bottom: 40px;
    }
    .parceiros-list {
      grid-template-columns: repeat(2, 1fr);
    }
    .parceiros-list li:nth-child(n + 3) {
      border-top: 2px solid #696969;
    }
    .parceiros-list li:nth-child(odd) {
      border-left: none;
    }
}
@media(max-width: 700px){
    .parceiros-title{
        font-size: 50px;
    }
    .parceiros-list li a{
        font-size: 30px;
    }
}
@media(max-width: 470px){
    .parceiros-title{
        font-size: 40px;
    }
    .parceiros-list li a{
        font-size: 30px;
    }
  }
